// Colors
$color__primary: #c8cde5;
$color__secondary: #e28d29;
$color__tertiary: #bd4032;
$color__background: #f5f5dc;
$color__typography: #333;
$color__strip: rgb(192, 94, 45);
$color__shadow: #333;