// Colors
$color__background: #c8cde5;
$color__background__box: #f5f5dc;
$color__shadow: #333;
$color__button: #e28d29;
$color__valid: #bd4032;
$color__info: #adb5bd;
$color__strip: #e5d8d0;
$color__typography__dark: #333;
$color__typography__light: gray;