// Colors
$color__background: #c8cde5;
$color__background__box: #f5f5dc;
$color__shadow: #333;
$color__button: #e28d29;
$color__valid: #bd4032;
$color__info: #adb5bd;
$color__strip: #e5d8d0;
$color__typography__dark: #333;
$color__typography__light: gray;

// Sizes
$size__typography__global: 17px;
$size__h1__global: 4.5em;
$size__h2__global: 2.5em;
$line__height__global: 29px;

// Weights
$font__weight: 400;