@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import './variables';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  // font-family: 'Square Peg', cursive;
  font-size: $size__typography__global;
  line-height: $line__height__global;
  font-weight: $font__weight;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  img {
    outline: none !important;
    box-sizing: border-box;
  }
}

#app {
  min-width: 100%;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: $color__typography__dark;
  text-decoration: inherit;
  transition: color .15s;

  &:hover {
    color: $color__typography__dark;
    opacity: .8;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

i {
  margin-right: .5rem;
}

h1 {
  font-size: $size__h1__global;
  line-height: 1.1;
}

h2 {
  font-size: $size__h2__global;
  line-height: 1.1;
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: $color__valid;
}

label {
  margin-right: 1rem;
  font-variant-caps: all-small-caps;
}

span {
  color: $color__info;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid $color__button;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f3f3;
  transition: background .25s;

  &:hover {
    border-color: $color__button;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    background-color: transparentize($color__button, .8);

  }
}

#submit__button {
  padding: 1em;
}

.width__desktop__up {
  max-width: 1440px;
}

.width__desktop__down {
  max-width: 1280px;
}

.container {
  margin: auto;
  padding: 8em 2em;
  text-align: center;
}

.box {
  z-index: 1;
  padding: 3.5em;
  background: $color__background__box;
  border-radius: 2px;
  box-shadow: 0 3px 20px $color__shadow;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.box__img {
  display: flex;
  background: transparent;
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 0 3px $color__shadow;
  overflow: hidden;
}

.box__divise {
  width: calc(100% / 2);
}

.card {
  padding: 2em;
}

.important__text {
  font-size: 2.1em;
  line-height: 1.4em;

  p {
    margin: 0;
  }
}

.line__1 {
  background: $color__strip;
  border: 3px solid $color__strip;
  margin: 0;
  opacity: .6;
}

.line__2 {
  background: $color__button;
  border: 3px solid $color__button;
  border-radius: 2px;
  margin-left: 0;
  margin-right: 40%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.line__3 {
  background: $color__typography__dark;
  border: 1px solid $color__typography__dark;
  opacity: .2;
  border-radius: 2px;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    // color: #213547;
    color: $color__typography__dark;
    background-color: $color__background__box;
  }

  a:hover {
    color: $color__typography__dark;
    opacity: .8;
  }

  button {
    background-color: $color__button;
  }
}